db.url=jdbc:dbc:postgresql://localhost:****/nameDB
db.username=
db.password=
lb.patch=db/changelog/changelog.xml

??? ?? ? ???? docker - compose ????????? ????
      POSTGRES_USER:
      POSTGRES_PASSWORD:
